body {
    background-color: #faf7f2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    background-color:#ffffff;
    width: 900px;
    margin: 30px auto;
    border: 6px solid #eed2ad;
    padding: 20px;
    border-radius: 20px;

    
}
header  {
    text-align: center;
    padding: 30px;
    }


    nav {
        text-align: center;
        border-top: 3px solid #484B07;
        border-bottom: 3px solid #484B07;
        padding: 20px; ;
    }

    nav a {
        margin: 0 20px;
        font-size: 25px;
        color: #604840;
    }

    nav a:hover {
        color: #3D250B;
        text-decoration:none;
    }

    main {
        margin: 30px auto;
    border: 6px solid #eed2ad;
    padding: 20px;
    border-radius: 20px;
    color: #604840;
    }
    main h1 {
        color: #484B07;
        text-align: center;
        font-size: 30px;
    }

    main h2 {
        color: #484B07;
        text-align: center;
        font-size: 30px;
    }
    main h3 {
    font-size: 30px;
    color: #484B07;
    text-align: center;
}

main h4 {
    font-size: 25px;
    color: #484B07;
    text-align: center;
}

    main img {
        display: block;
        margin: 20px auto;
        border-radius: 20px;
        
    }



    #container img {
  max-width: 700px;
  height: auto;
  display: block;
  margin: 20px auto;
}

h1 {
    font-size: 50px;
    color: #484B07;
    text-align: center;
}

footer {
    padding: 40px;
    text-align: center;
    border-top: 3px solid #484B07;
}
