body {
    background-color: #d9c7b8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #8c5642;
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 20px;
}


#container {
    background-color: #ffffff;
    width: 85%;
    margin: 30px auto;
    border: 6px solid #bf9b7a;
    padding: 20px;
    border-radius: 20px;

    
}
header  {
    text-align: center;
    padding: 30px;
    }


    nav {
        text-align: center;
        border-top: 3px solid #143959;
        border-bottom: 3px solid #143959;
        padding: 20px;
    }

    nav ul {
       list-style-type: none;
       padding: 0;
       margin: 0 20px;
    }

nav li a {
    display: block;
    background-color: #bf9b7a;
    color: #ffffff;
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    border-radius: 20px;
    border-bottom: 3px solid #412B1E;
   
}
nav li {
    display: inline-block;
    margin: 5px;

}

    nav li a:hover {
        color: #412B1E;
        background-color: #d9c7b8;
        text-decoration:none;
    }

    main {
        margin: 30px auto;
    border: 6px solid #bf9b7a;
    padding: 20px;
    border-radius: 20px;
    color: #8c5642;
    }
 h1 {
        color: #143959;
        text-align: center;
        font-size: 30px;
    }

    main h2 {
        color: #143959;
        text-align: center;
        font-size: 30px;
    }
    main h3 {
    font-size: 30px;
    color: #143959;
    text-align: center;
}

main h4 {
    font-size: 25px;
    color: #143959;
    text-align: center;
}

    main img {
        display: block;
        margin: 20px auto;
        border-radius: 20px;
        
    }

    p {
        color: #5a3a2e;
    }

.packing-columns {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 25px 0;

}

.packing-box {
    flex: 1;
    border: 2px solid #143959;
    border-radius: 15px;
    padding: 18px;
    background-color: #f5e6dc;
}

.packing-box h3 {
 margin-top: 0;
}
.two-col {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 25px 0;
}

.card {
    flex: 1;
    border: 2px solid #bf9b7a;
    border-radius: 20px;
    border: 2px solid #143959;
    padding: 18px;
    background-color: #f5e6dc;
}



footer {
    padding: 40px;
    text-align: center;
    border-top: 3px solid #143959;
    color: #412B1E;
}
