/* Global Styles */


body {
    background-color: #d9c7b8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #8c5642;
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: 20px;
}


#container {
    background-color: #ffffff;
    width: 85%;
    margin: 30px auto;
    border: 6px solid #bf9b7a;
    padding: 20px;
    border-radius: 20px;

    
}
header  {
    text-align: center;
    padding: 0px;
    }


    nav {
        text-align: center;
        border-top: 3px solid #143959;
        border-bottom: 3px solid #143959;
        padding: 20px;
    }

    nav ul {
       list-style-type: none;
       padding: 0;
       margin: 0 20px;
    }

nav li a {
    display: block;
    background-color: #bf9b7a;
    color: #ffffff;
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    border-radius: 20px;
    border-bottom: 3px solid #412B1E;
   
}
nav li {
    display: inline-block;
    margin: 5px;

}

    nav li a:hover {
        color: #412B1E;
        background-color: #d9c7b8;
        text-decoration:none;
    }

    main {
        margin: 30px auto;
    border: 6px solid #bf9b7a;
    padding: 20px;
    border-radius: 20px;
    color: #8c5642;
    }
 h1 {
        color: #143959;
        text-align: center;
        font-size: 30px;
    }

    main h2 {
        color: #143959;
        text-align: center;
        font-size: 30px;
    }
    main h3 {
    font-size: 30px;
    color: #143959;
    text-align: center;
}

main h4 {
    font-size: 25px;
    color: #143959;
    text-align: center;
}

    main img {
        display: block;
        margin: 20px auto;
        border-radius: 20px;
        
    }

    p {
        color: #5a3a2e;
    }

.packing-columns {
    display: flex;
    align-items: flex-start;
    margin: 25px 0;
    padding: 0 15px;
    gap: 30px;

}

.packing-box {
   
    border: 2px solid #143959;
    border-radius: 15px;
    padding: 18px;
    background-color: #f5e6dc;

}

.packing-box h3 {
 margin-top: 0;
}

.two-col{
  display: grid;
  grid-template-columns: 1fr;  /* phone = stacked */
  gap: 40px;
  margin: 25px 0;
}



/* Airport cards - mobile first (stacked) */
.three-col{
  margin: 25px 0;
}

/* Tablet: 2 columns */
@media (min-width: 768px){
  .three-col{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .three-col .card{
    width: 48%;
    margin-bottom: 30px;
  }
}

/* Desktop: 3 columns */
@media (min-width: 1024px){
  .three-col .card{
    width: 31%;
  }
}

@media (max-width: 480px){

  nav li{
    display: block;        /* stack buttons */
    margin: 8px 0;
  }

  nav li a{
    width: 100%;           /* take full container width */
    max-width: 320px;      /* optional safety */
    margin: 0 auto;        /* center it */
  }

}


html, body{
  overflow-x: hidden;
}

footer {
    padding: 40px;
    text-align: center;
    border-top: 3px solid #143959;
    color: #412B1E;
}